.footer-custom {
  background-color: #d1dbfe;
  position: relative;
  border-top: none;
  color: #173067;
}

.footer-custom a,
.footer-custom p,
.footer-custom li,
.footer-custom .fa-brands,
.footer-custom .fa-solid,
.footer-custom .fa-regular {
  font-size: 1.2rem;
  color: #173067 !important;
}

.footer-custom::before {
  content: "";
  position: absolute;
  padding-top: 200px;
  top: -180px;
  left: 0;
  right: 0;
  height: 150px;
  background-image: url("data:image/svg+xml,%3Csvg width='1725' height='285' viewBox='0 0 1725 285' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 100C287.5 60 575 140 862.5 90C1150 50 1437.5 160 1725 70V285H0V100Z' fill='%23D1DBFE' stroke='%23D1DBFE'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  transform: none;
  transform-origin: center;
}

.footer-social-icon {
  font-size: 1.5rem;
}

.newsletter-section {
  background-color: #173067;
  border-radius: 1rem;
}

.footer-newsletter-group {
  display: flex;
  width: 100%;
}

.footer-newsletter-group .form-control {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.footer-newsletter-group .btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
}
