/* في ملف CSS الخاص بالنافبار */
.notification-box {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bg{
    background-color: #D4E2F6;
}