.board-page {
  height: 100vh;
  overflow: hidden;
  background-color: #f0f4ff;
}

.border-dashed {
  border-style: dashed;
  border-width: 2px;
  border-color: #ccc;
}

.emoji-card {
  background-color: #eef5ff;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: 0.2s;
}

.emoji-card:hover {
  background-color: #d9e9ff;
  transform: scale(1.05);
}

.category-bar {
  position: sticky;
  bottom: 0;
  z-index: 10;
}
.color{
  color: #173067;
}

.color1{
  color: #fff !important;
}

