.contact-hero {
  background-image: url("/bg6.png");
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
}


.contact-bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  opacity: 0.2;
  pointer-events: none;
}
.marg{
    margin-bottom: 150px !important;
}
.color{
  color: #173067;
}

.custom-input {
  border: 1px solid #fff !important;
  box-shadow: none !important;
  color: #173067;
  padding: 10px !important;
}
.custom-input::placeholder {
  color: #A1A8B0;
}
