body {
  background-color: #f4f6ff;
}

.marg{
    margin-bottom: 100px;
}

.card ul li {
  margin: 6px 0;
  color: #333;
}

.custom-toggle-group {
  border: 2px solid #173067;
  border-radius: 50px;
  overflow: hidden;
  display: inline-flex;
}
/* Custom card border for popular plan */
.custom-border-primary {
  border: 3px solid #173067 !important;
}

/* Custom badge background */
.custom-bg-primary {
  background-color: #173067 !important;
  border-radius: 20px;
  color: #fff;
}

.text1{
    color: #173067;
}

.active-btn {
  background-color: #173067;
  border: none;
  border-radius: 0;
  color: #fff !important;
}

.active-btn:hover{
  background-color: #0d1d3f;
  border: none;
  border-radius: 0;
  color: #fff;
}

.custom-toggle-group .btn {
  border: none;
  padding: 10px 20px;
}

.custom-toggle-group .btn-outline-light {
  color: #fff;
  background-color: transparent;
}

.custom-outline-btn {
  border: 2px solid #173067 !important;
  background-color: #f8f9fa !important;
  color: #173067 !important;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.custom-outline-btn:hover {
  background-color: #173067 !important;
  color: #fff !important;
}
